.miniBox {
    background-color: cornflowerblue;
    width: 45%;
    height: 410px;
}

.miniBox button {
    height: 25px;
    border-radius: 5px;
    border-color: #074dca;
    background-color: #abc1ff;
}