.wrap {
    display: flex;
    flex-direction: column;
}
.bigBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 410px;
    margin: 5px;
}